@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Pixelify+Sans:wght@400..700&display=swap');
/* CSS Document */

:root{
    --cor01: #2B57FC;
    --cor02: #607BD2;
    --cor03: #2b58fce1;
    --cor04: #0037ff;
    --cor05: white;
    --fontTitle: 'Pixelify Sans', sans-serif;
    --fontText: 'Jersey 20', sans-serif;
}

* {
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#LabHeroSection{
    background: linear-gradient(135deg, var(--cor01), var(--cor04), var(--cor03), var(--cor04), var(--cor03), var(--cor01));
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    margin: -8px 0 0 -10px;
    transition: 1s all;
    animation: gradientMove 20s linear infinite;
    
}

#LabHeroSection h1{
    font-family: var(--fontTitle);
    font-size: 2.5rem;
    margin-left: 20px;
    
    color: var(--cor05);
    margin-bottom: 0.3rem;
    z-index: 2;
    transition: 1s all;
}

#LabHeroSection p{
    font-family: var(--fontText);
    font-size: 1rem;

    margin-left: 20px;
    color: var(--cor05);
    margin-bottom: 1rem;
   font-weight: normal;
    z-index: 2;
    transition: 1s all;
}

.typewriter {
    overflow: hidden;
    border-right: 4px solid white;
    white-space: nowrap;
    animation: typing 2s steps(var(--nchars)) 1 normal both, blink-caret 0.7s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.galaxy-text {
    white-space: wrap;
    font-family: var(--fontTitle);
    background-color: transparent;
    color: white;
    font-size: 2em;
    border-right: none;
    width: auto;
    margin-top: 50px;
    overflow: visible;
    white-space: nowrap;
}

.galaxy-text h1,
.texts h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    border-right: none;
}

.typewriter-cursor::after {
    content: '|';
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.pixelCube {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--cor04);
    animation-name: pixelCubeAnimation;
    animation-duration: 450s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border-radius: 6px;
    z-index: 0;
}

#PixelCube1 { top: 40px; left: 60px; }
#PixelCube2 { top: 120px; right: 80px; }
#PixelCube3 { bottom: 60px; left: 100px; }
#PixelCube4 { bottom: 120px; right: 140px; }
#PixelCube5 { top: 200px; left: 40vw; }
#PixelCube6 { bottom: 200px; right: 30vw; }
#PixelCube7 { top: 60vh; left: 10vw; }
#PixelCube8 { bottom: 40vh; right: 10vw; }
#PixelCube9 { top: 200vh; left: 60px; }
#PixelCube10 { top: 220vh; right: 80px; }
#PixelCube11 { top: 260vh; left: 100px; }
#PixelCube12 { top: 240vh; right: 140px; }
#PixelCube13 { top: 225vh; left: 40vw; }
#PixelCube14 { top: 235vh; right: 30vw; }
#PixelCube15 { top: 230vh; left: 10vw; }
#PixelCube16 { top: 256vh; right: 10vw; }

@keyframes pixelCubeAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
       transform: translateX(-100vw);
    }
}

h1{
    font-family: var(--fontTitle);
    font-size: 2rem;
    color: var(--cor05);
    margin-left: 60px;
    margin-right: 60px;
    transition: 2s all;
}

p{
    font-family: var(--fontText);
    font-size: 1rem;
    color: var(--cor05);
    margin-left: 60px;
    margin-right: 60px;
    transition: 2s all;
}

@keyframes fadeOut {
    from{
        width: 70%;
        opacity: 1;
        height: 70%;
    }
    to{
        width: 0;
        opacity: 0;
        height: 70%;
    }
}

@keyframes fadeIn {
    from{
        width: 0;
        opacity: 0;
        height: 0%;
    }
    to{
        width: 70%;
        opacity: 1;
        height: 70%;
    }
}

#secondText{
    opacity: 1;
    position: relative;
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    transition: 2s all;
    background-image: linear-gradient(to right, var(--cor01), var(--cor03));
    height: 100vh;
    justify-self: center;
    z-index: 5;
    display: flex;
    align-items: center;
    
}
#secondText h1, #secondText p{
    opacity: 0;
    max-width: 67vw;
}
#IsoImg{
    margin-right: 50px;
    border-radius: 20px;
    z-index: 10;
    position: absolute;
    right: 0.8vw;
    transition: none;
}

#riser{
    font-family: var(--fontText);
}

#seloIso{
    position: absolute;
    left: -30vw;
    z-index: 15;
}
@keyframes fadeInSecondText {
    0%{
        opacity: 1;
        transform: translateY(50vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes isoFadeIn {
    0% {
        opacity: 1;
        left: -30vw;
        transform: rotateY(0deg) scale(10);
        top: 162vh;
    }
    25%{
        transform: rotateY(360deg) scale(7.5);
    }
    50%{
        transform: rotateY(0deg) scale(5);
    }
    75%{
        transform: rotateY(360deg) scale(2.5);
    }
    100%{
        opacity: 1;
        left: 71vw;
        transform: rotateY(0deg) scale(1);
        top: 142vh;
    }
}

@keyframes teck {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.99);
    }
}


#writher{
    text-align: center;
    color: var(--cor05);
}

#expoSection{
    background-image: linear-gradient(to right, var(--cor01), var(--cor03));
    width: 100vw;
    min-height: 100vh; /* Mudança aqui para permitir expansão */
    display: flex;
    flex-direction: column;
    margin-top: 0;
    z-index: 0;
    margin: -8px 0 0 -10px;
    transition: 1s all;
    padding: 20px 0; /* Adiciona padding para espaçamento */
}

/* Estilos para todos os inscreens */
#inscreen1, #inscreen2, #inscreen3, #inscreen4, #inscreen5, 
#inscreen6, #inscreen7, #inscreen8, #inscreen9, #inscreen10 {
    border-radius: 20px;
    position: absolute;
    top: 235vh;
    transition: 2s all;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
   
}

/* Estilos para todos os h1 dos inscreens */
#inscreen1 h1, #inscreen2 h1, #inscreen3 h1, #inscreen4 h1, #inscreen5 h1,
#inscreen6 h1, #inscreen7 h1, #inscreen8 h1, #inscreen9 h1, #inscreen10 h1 {
    display: none;
    margin: 20px 0;
    opacity: 0;
    white-space: no-wrap;
    color: white;
}
#ocult1{
    color: var(--cor01);
}
/* Estilos para todos os p dos inscreens */
#inscreen1 p, #inscreen2 p, #inscreen3 p, #inscreen4 p, #inscreen5 p,
#inscreen6 p, #inscreen7 p, #inscreen8 p, #inscreen9 p, #inscreen10 p {
    display: none;
    margin: 0;
    opacity: 0;
}

/* Estilos para todas as imagens dos inscreens */
#inscreen1 img, #inscreen2 img, #inscreen3 img, #inscreen4 img, #inscreen5 img,
#inscreen6 img, #inscreen7 img, #inscreen8 img, #inscreen9 img, #inscreen10 img {
    width: 25vw;
    max-width: 100%;
    height: auto;
}
@keyframes FunctionsFadeIn {
    0%{
        top: 252vh;
        opacity: 0;
    }
    100%{
        opacity: 1;
        top: 222vh;
    }
}
@keyframes FunctionsFadeOut {
    0%{
        opacity: 1;
        top: 222vh;
    }
    100%{
        top: 252vh;
        opacity: 0;
    }
    
}

@keyframes textH1FadeIn {
    0%{
        top: 80vh;
        left: 33vw;
        opacity: 0;
    }
    100%{
        opacity: 1;
        top: -10vh;
        left: 33vw;
    }
}
#Persona{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    background-image: linear-gradient(to right, var(--cor01), var(--cor03));
}

#Persona h1{
    margin-top: 0;
    align-self: center;
}

#Nugap{
    position: absolute;
    transition: 1s all;
    left: 10vw; /* Alterado de 35vw para 10vw - mais à esquerda */
    top: 340vh; /* Volta para a mesma altura */
    background-color: var(--cor05);
    border-radius: 20px;
    height: 25vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#certificar{
    position: absolute;
    transition: 1s all;
    right: 10vw; /* Alterado de 35vw para 10vw - mais à direita */
    top: 340vh; /* Volta para a mesma altura */
    background-color: var(--cor05);
    border-radius: 20px;
    height: 25vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#certificar:hover .play, #Nugap:hover .play{
    display: flex;
    opacity: 1;
}
#certificar:hover #certificarImg, #Nugap:hover #NugapImg{
    opacity: 0;
}
#certificar:hover{
    right: 23vw;
    top: 345vh;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    animation-name: PixelPulser;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#Nugap:hover{
    left: 20vw;
    top: 345vh;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    animation-name: PixelPulser;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#certificarImg,#NugapImg{
    transition: 1s all;
}
@keyframes PixelPulser {
    0%{
        transform: translateY(0px) scale(1);
    }
    100%{
        transform: translateY(-15px) scale(1.05);
    }
}
.play{
    
   transition: 1s all;
    opacity: 0;
    position: absolute;
}