@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Basic Configurations */

:root{
    --cor01: #A6A6A6;
    --cor02: #595959;
    --cor03: #262526;
    --cor04: #0D0D0D;
    --cor05: #F2F2F2;
    --cor06: #042326;
    --cor07: #246B73;
    --cor08:#238C6E;
    --cor09: #29A65F;
    --cor10: #3BD952;
    --logoColor: #1a1a1a;
    --fullWhite: white;
    --fontJetBrains: 'JetBrains Mono', monospace;
    --fontRoboto: 'Roboto', sans-serif;
    --fontInconsolata: 'Inconsolata', monospace;
    --fontIBM: 'IBM Plex Mono', monospace;
    --fontAnonymous: 'Anonymous Pro', monospace;
    --fontSpace: 'Space Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
   
}
 body{
     overflow-x: hidden;
 }
/* Css Document*/

/* Nav Bar */

.nav-content{
    width: 100vw;
    height: 13vh;
    background-color: var(--logoColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-content{
    margin-left: 2vw;
}
.img-content img{
    width: 10vw;
}
.links-content{
    display: flex;
    gap: 2vw;
}
.navLink{
    text-decoration: none;
    color: var(--cor05);
    font-family: var(--fontJetBrains);
    font-size: 0.9em;
    transition: 0.7s all;
}
.navLink:hover{
    color: var(--cor08);
    text-decoration: underline;
    transform: translate(-1px,-1px);
}

.loginButton{
    margin-right: 2vw;
    display: flex;
    width: 10vw;
    align-items: center;
    justify-content: center;
    height: 6vh;
    background-color: var(--logoColor);
    border: 3px solid var(--cor05);
    color: var(--cor05);
    font-family: var(--fontJetBrains);
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 3px;
    transition: 0.8s all;
}
.loginButton:hover{
    color: var(--cor08);
    border-radius: 
    20px;
    transform: translate(-2px, -2px);
    border-color: var(--cor08);
    cursor: pointer;
    box-shadow: 2px 5px 10px #238c6ec3;
}
/*Hero Section*/
.Hero-Section{
    width: 100vw;
    height: 87vh;
    display: flex;
    align-items: center;
    background-color: var(--cor04);
}
.text-content{
    font-family: var(--fontRoboto);
    color: var(--cor05);
    margin-left: 5vw;
    max-width: 65vw;
}
.consoleWrite{
    
    color: var(--cor08);
    font-size: 1em;
    margin-right: 5px;
}
.text-content h1{
    font-size: 2.5em;
    margin-bottom: 3vh;
    height: 8vh;
   
}
#dinamicState{
    color: var(--cor08);
    border-bottom: 3px solid var(--cor08);
    transition: 1s all;
}
.text-content p{
    
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 2vh;
}
.apelativeButton{
    display: flex;
    align-items: center;
}
.ApexButton{
    width: 12vw;
    height: 7vh;
    margin-left: 5.5vw;
    background-color: var(--cor08);
    border: 2px solid transparent;
    font-family: var(--fontRoboto);
    color: var(--fullWhite);
    font-weight: bold;
    border-radius: 5px;
    transition: 0.9s all;
}
.ApexButton:hover{
    background-color: transparent;
    border: 2px solid var(--cor09);
    color: var(--cor09);
}
.lm{
    margin-left: 2vw;
    color: var(--cor08);
    text-decoration: none;
    font-family: var(--fontJetBrains);
    font-weight: bold;
    display: flex;
    transition: 0.7s all;
}
.lm:hover{
    color: var(--cor09);
    text-decoration: underline;
    transform: translate(5px,0);
}
.pointer{
    width: 3vw;
    height: 3vh;
    margin-left: 5px;
    background-color: var(--cor05);
    color: var(--cor05);
    animation-name: pisk;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
    
}
@keyframes pisk {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
